<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudEmoticon.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <CloudEmoticon.My.MySettings>
            <setting name="LoadedFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FormTransitionTime" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="FormWidthRatio" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="CurrentSkinID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CustomSkinPicturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomSkinBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CustomSkinTextPrimaryColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CustomSkinTextSecondaryColor" serializeAs="String">
                <value>127, 127, 127</value>
            </setting>
            <setting name="CopyToClipboard" serializeAs="String">
                <value>False</value>
            </setting>
        </CloudEmoticon.My.MySettings>
    </userSettings>
</configuration>
